<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fixpapa.ffixpapa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-feature android:name="android.hardware.location.gps" />


    <application
        android:name=".UserPart.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/luncher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA8ULcLzfoc3hPDqkqeMuhSWzoqNdVYO54" />
           <!-- <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />-->
        <!--
    <service android:name=".Services.ServiceClassTest"
    android:exported="false"
    tools:ignore="InnerclassSeparator" />
        -->
        <service android:name=".Services.NotificationClasses.MyFirebaseInstance">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".Services.NotificationClasses.MyFirebaseMessegingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/luncher_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
       <!-- <service android:name=".Services.GPSTracker" />-->
        <service android:name=".Services.LocationService"
            android:exported="true"/>



        <!--
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        -->

        <!--<provider-->
            <!--android:name="com.facebook.FacebookContentProvider"-->
            <!--android:authorities="com.facebook.app.FacebookContentProvider"-->
            <!--android:exported="true" />-->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            tools:node="remove">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UserPart.UserRegistration"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"

           />
        <activity
            android:name=".UserPart.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
          <!--  <intent-filter>
                <action android:name=".SplashScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->


        </activity>
        <activity
            android:name=".UserPart.UserLogin"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">

        </activity>
        <activity
            android:name=".UserPart.UserNotification"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.UserProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.HomePart.UserHomeScreen"
            android:label="@string/title_activity_user_home_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.OtpVarification"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.ForgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".VendorPart.EngineerRegistration"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.HomePart.AccountSetting"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.HomePart.UpdateEmailMobile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".VendorPart.HomePart.VendorHomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.HomePart.ManageAddress"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.HomePart.EditAddAddress"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.HomePart.AllPostModule.ShowProducts"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.HomePart.AllPostModule.AmcPost"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.HomePart.AllPostModule.RentPost"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.HomePart.AllPostModule.OfficeSetupPost"
            android:label="@string/title_activity_office_setup_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.HomePart.ReviewRating"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.HomePart.AllPostModule.ShowBrands"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.HomePart.AllPostModule.ShowIssues"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.HomePart.AllPostModule.TotalPrice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.SelectAddress"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.HomePart.AllPostModule.DateTime"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.HomePart.AllPostModule.OrderDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.HomePart.PurchasePost"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VendorPart.HomePart.ViewJobsVendor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EngineerPart.HomePart.EngineerHomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EngineerPart.EngineerViewJobs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VendorPart.BlockEngineer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VendorPart.UpdateEngineer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VendorPart.EngineerProfileView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VendorPart.UpdateEngineerProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VendorPart.HomePart.ViewJobsAccpted"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VendorPart.FreeEngineer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EngineerPart.EngineerViewSite"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EngineerPart.EngineerViewPendingJobs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EngineerPart.MapEngineerTrack"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EngineerPart.OffSiteView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EngineerPart.DigitalSugnature"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EngineerPart.PaymentEngineerOffsite"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EngineerPart.CreateBill"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".UserPart.PartRequest"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.HomePart.PaymentCustomer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.HomePart.ShowPaytmScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.ShowJobDetailJobId"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.OtpEmailVarification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EngineerPart.EngineerInfo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EngineerPart.EngineerCompleteJobs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPart.HomePart.Fragments.TermACondition"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserPart.HomePart.Fragments.AboutUs"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".UserPart.HomePart.Fragments.HelpContent"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b5ba776f1cc5b84a96c6f8f7001a1e55f9370670" />
    </application>

</manifest>